.div30High {
  height: 30px;
}
.div25High {
  height: 25px;
}
.div20High {
  height: 20px;
}
.div15High {
  height: 15px;
}
.div10High {
  height: 10px;
}
.div5High {
  height: 5px;
}
.lineRed {
  height: 7px;
  background-color: $red;
}
